.about-section {
    padding: 32px;
    background: #021721;
    color: #fff;
  }
  
  
  .about-image-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  
  .about-text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
  
  .about-title {
    font-size: 36px;
  }
  
  .about-description {
    font-size: 16px;
    color: #333;
  }
  
  .about-section svg {
    color: #07d2de;
  }
  
  .about-section .download .download_icon {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
  }
  
  .download {
    cursor: pointer;
  }
  .download_btn {
    border: 2px solid #07d2de;
    border-radius: 50px;
    width: fit-content;
    align-items: center;
    display: flex;
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  .download_btn .resume_text {
    padding: 8px 35px;
    color: #fff;
  }
  .download_btn:hover {
    background-color: #07d2de;
    transform: scale(1.05);
  }
  
  .skills-section {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .skills-container {
    display: inline-block;
    animation: marquee 15s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .skill {
    display: inline-block;
    margin-right: 70px; 
  }
  