.service-section {
    padding: 32px;
    background: linear-gradient(90deg, rgb(0 0 0) 0%, rgb(25 54 65) 100%);
    color: white;
}

.service-slider {
    padding: 30px;
}

.service-card {
    position: relative;
    width: 90% !important;
    height: auto;
}

.service-card-content {
    background-color: transparent;
    color: #fff;
    position: relative;
    overflow: hidden; /* Ensure content is contained */
}

.service-card-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 14px;
    text-align: center;
}

.service-card:hover .service-card-description {
    opacity: 1;
}
