/* .ant-menu {
    background: #001529; 
  } */
  
  /* .ant-menu-item {
    border-radius: 0; 
    color: #fff; 
  } */
  
  /* Hover State */
  /* .ant-menu-item:hover {
    color: #1677ff !important;
    background: transparent !important; 
    transform: scale(1.1);
  } */
  
  /* Active State */
  /* .ant-menu-item-active, .ant-menu-item-selected {
    color: #1677ff !important; 
    background: transparent !important;
  } */
  
  /* body{
    margin: 0;
  }
   */